.search_input {
    display: flex;
    align-items: center;
    border: 1px solid lightgreen;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    max-width: 560px;
}

.search_input:hover {
    border: 1px solid lightseagreen;
}

.search_input>input {
    flex: 1;
    padding: 10px 20px;
    font-size: medium;
    border: none;
}

.search_input>input:focus {
    outline-width: 0;
}

.search_inputIcon {
    color: gray;
}

.search_buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.search_buttons button {
    margin: 5px;
    padding: 7px 15px;
    background-color: #f8f8f8;
    border: 1px solid white;
    text-transform: inherit;
}

.search_buttons button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    /*background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);*/
    background-image: lightblue;
    background-color: lightblue;
    border: 1px solid #c6c6c6;
    color: #222222;
}

.search_buttonsHidden {
    display: none !important;
}